

body {
  margin: 0;
  background-image: url(./assets/sfondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  

}
.page-enter {
  opacity: 0;
  transform: scale(0.9);
}
.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}
.page-exit {
  opacity: 1;
  transform: scale(1);
}
.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

